<a href="https://colab.research.google.com/github/Javediamon/Python_project/blob/main/California_Housing_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**INTRODUCTION:** This dataset provides a concise overview of California housing data. Through an analysis of this dataset, our primary objective is to estimate the expected prices of houses in California. The fundamental goal of working with this dataset is to make predictions regarding the median house prices in the state. The dataset encompasses various features, including:

**FEATURES:**

1.L**ongitude:** It represents the horizontal positioning of a house, indicating its location from west to east. A greater longitude value signifies a westward position. This attribute is categorized as **numerical data**, specifically as **continuous data** in statistical terms.

2.**Latitude:** It represents the vertical positioning of a house, indicating its location in a northward direction. A higher latitude value signifies a northern location. In statistical terms, this attribute is classified as **numerical data** and specifically falls under the category of **continuous data.**


3.**housing_median_age:**  Denotes the median age of houses. In statistical terms, it is considered a **quantitative data** type, specifically falling within the category of **continuous data.**

4.**total_rooms:** It represents the count of rooms within a block. In statistical terms, it is categorized as **quantitative data**, specifically belonging to the **discrete data type**.

5.**total_bedrooms:** Indicates the total count of bedrooms within a block. In statistical terms, this attribute is classified as **quantitative data**, specifically falling under the **discrete data** category.

6.**population:**Total number of people residing within a block.Statistically it is of **quantitative data** type,i.e.,**discrete data**.

7.**households:**Total number of households,a group of people residing within a homeunit.Statistically it is of **quantitative data** type,i.e.,**discrete data**.

8.**median_income:**Median income of households within a block of houses.It comes under **continuous data**.

9.**median_house_value:** Median house value for households within a block. It comes under **continuous data**.

10.**Ocean_proximity:**Location of the house with respect to ocean.Statistically it is of **categorical data** i.e.,it is of **nominal data** type.

In [ ]:
import numpy as np    # Linear Algebra
import pandas as pd   # Data Processing ,CSV fine I/O
import matplotlib.pyplot as plt   # Creates Plots
import seaborn as sns   # Creates Plots

In [ ]:
#importing file from a local folder

housing = pd.read_excel('housing+(1).xlsx')   # The file reading

#print output

housing

In [ ]:
housing.shape   # shape func() gives us the total number of rows and columns present in a dataset.

In [ ]:
housing.head()   # head() returns first 5 rows of the dataset

In [ ]:
housing.info()   #The info function is used to get information about dataset.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(5), object(1)
memory usage: 1.6+ MB

 From the above it is to be noted that python reads :-

* longitude,latitude,total_bedrooms,median_income **float**

* housing_median_age,total_rooms,population,households,median_house_value as **int**

* while python reads ocean_proxinity as **object**

**1. What is the average median income of the data set and check the distribution of data using appropriate plots. Please explain the distribution of the plot.**

In [ ]:
np.mean(housing['median_income'])   #mean()function gives the mean of the values for the requested axis.

3.8706710029069766

From the above code it is to be noted that average meadian income of data set is 3.870 that is 3.9

In [ ]:
housing.hist(bins =50,figsize=(20,15))      #Histogram is used to see the distribution of a numerical value
plt.show()

* From the above plot,it is to be noted that the **outliers** are
present for housing_median_age and for median_house_value.

* while total_rooms,total_bedrooms,population,households,median_income are of **Right skewed.**

* While latitude and logitude are of **asymmetric,i.e.,highly skewed.**

**2. Draw an appropriate plot to see the distribution of housing_median_age and explain your observations.**

In [ ]:
plt.hist(housing['housing_median_age'],color='red',edgecolor='k')    #Histogram is used to see the distribution of a numerical
plt.xlabel('housing_median_age')         # x-axis=housing_median_age
plt.ylabel('Frequency')        #  y-axis=Frequencies
plt.title('Histogram-housing_median_age')    # Title of the graph
plt.grid()                                          # for enabling the grid lines in graph for better visualisation

* From the above hist plot we can come to the analysis that it is distributed symmetrically.

* we can know the skewness of the above plot by using  
  Skewed =3*(mean-median)/std()

In [ ]:
mean=np.mean(housing['housing_median_age'])  # It gives mean of housing_median_age
print(mean)

28.639486434108527

In [ ]:
median=np.median(housing['housing_median_age'])    # It gives median of housing_median_age
print(median)

In [ ]:
std=np.std(housing['housing_median_age'])         # It gives standard deviation of housing_median_age
print(std)

In [ ]:
Skewed =3*(mean-median)/std    # This gived skewness value of housing_median_age
print(Skewed)

-0.08593714574072245

* The Skewness of the above plot is -0.08 which lies between  -0.5 to -0.1.From this it is to be concluded that it is of perfectly symmetrical.


* Finally,from the visualisation plot and from the Skewness it is to be noted that the housing_median_age is perfectly symmetrical.

**3.Show with the help of visualization, how median_income and median_house_values are related?**

In [ ]:
sns.scatterplot(x="median_house_value",y="median_income",data=housing,color='orange',ec='black')   #scatter plot gives a relation between two numerical values.
                                                                        # X-Axis show median_house_value
                                                                    # Y-Axis show median_income

* From the above visualisation it is to be analysed that with an increase in the median_house_value there is also an increase in the median income.

* While,an outlier is present in median_house_value which is shown in the graph .Therefore,median_house_value is directly proportional to median income.

**4.Create a data set by deleting the corresponding examples from the data set for which total_bedrooms are not available.**

In [ ]:
housing[housing.isnull().any(axis=1)]  #The isnull() method returns a DataFrame object where all the values are replaced with a Boolean value.
                                       # True for NULL values, and otherwise False.
                           #Here missing values are denoted by NaN

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47,1256,NaN,570,218,4.3750,161900,NEAR BAY
341,-122.17,37.75,38,992,NaN,732,259,1.6196,85100,NEAR BAY
538,-122.28,37.78,29,5154,NaN,3741,1273,2.5762,173400,NEAR BAY
563,-122.24,37.75,45,891,NaN,384,146,4.9489,247100,NEAR BAY
696,-122.10,37.69,41,746,NaN,387,161,3.9063,178400,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20267,-119.19,34.20,18,3620,NaN,3171,779,3.3409,220500,NEAR OCEAN
20268,-119.18,34.19,19,2393,NaN,1938,762,1.6953,167400,NEAR OCEAN
20372,-118.88,34.17,15,4260,NaN,1701,669,5.1033,410700,<1H OCEAN
20460,-118.75,34.29,17,5512,NaN,2734,814,6.6073,258100,<1H OCEAN
20484,-118.72,34.28,17,3051,NaN,1705,495,5.7376,218600,<1H OCEAN

* In the above code missing values are identifies by
**isnul()** method.

* Missing values are identified in column **total_bedrooms**

In [ ]:
new_data =housing.dropna(subset=['total_bedrooms'])  ##dropna() method allows the user to analyze and drop Rows/Columns

new_data

* While in the above code the missing values are dropped from the column named'total_bedrooms'by using dropna() method.

**5. Create a data set by filling the missing data with the mean value of the total_bedrooms in the original data set.**

In [ ]:
np.mean(housing['total_bedrooms'])   #mean value of the total_bedrooms

In [ ]:
housing["total_bedrooms"]=housing["total_bedrooms"].fillna(housing['total_bedrooms'].mean()) # fillna is used to fill null values

housing

* In the above code,a new dataset had been created where the missing values in the 'total_bedrooms'which are denoted by NaN are replaced with the mean value of the 'total_bedrooms'.

* For eg:row no.290,696,563 and other rows with the missing values are replaced with the mean value of 'total_bedrooms' i.e.,537.8705525375617,respectively

**6. Write a programming construct (create a user defined function) to calculate the median value of the data set wherever required.**

In [ ]:
housing.head()    # head() returns first 5 rows of the dataset

**Median**- It is also a center of sorted data and not sensitive to outliers. Commonly used by **continous** and **discrete** data.

We can check median of dataframe by using:
 **np.meadian(housing['column_name])**

In [ ]:
np.median(housing['longitude'])    #median function() gives the median value that is 50th percentile of the set of all observations.

* From the above code we get median() value of **longitude** is **-118.49**

In [ ]:
np.median(housing['latitude'])    #median function() gives the median value that is 50th percentile of the set of all observations.

* The Median() value forf **latitude** is **34.26**

In [ ]:
np.median(housing['housing_median_age'])  #median function() gives the median value that is 50th percentile of the set of all observations.

* The Median() value for **housing_median_age** is **29.0**

In [ ]:
np.median(housing['total_rooms'])     #median function() gives the median value that is 50th percentile of the set of all observations.

* The Median() value for **total_rooms** is **2127.0**

In [ ]:
np.median(housing['total_bedrooms']) #median function() gives the median value that is 50th percentile of the set of all observations.

* The Median() value for **total_bedrooms** is **438.0**

In [ ]:
np.median(housing['population']) #median function() gives the median value that is 50th percentile of the set of all observations.

* The Median() value for **population** is ***1166.0***

In [ ]:
np.median(housing['households']) #median function() gives the median value that is 50th percentile of the set of all observations.

* The Median() value for **households** is ***409.0***

In [ ]:
np.median(housing['median_income']) #median function() gives the median value that is 50th percentile of the set of all observations.

* The Median() value for **median_income** is ***3.5347***

In [ ]:
np.median(housing['median_house_value']) #median function() gives the median value that is 50th percentile of the set of all observations.

* The Median() value for **median_house_value** is **179700.0**

**7. Plot latitude versus longitude and explain your observations.**

In [ ]:
sns.scatterplot(x='latitude',y='longitude',data =housing)   # Scatter plot gives relationship between two numerical values.
                                                              # x-Axis = latitude and y-Axis = longitude .

From the above plot, we can say that that
* With an decrease in longitude,latitude is increased.
* I means latitude and longitude are not dependent on each other.
* From this we can say that longitude is inversely proportional to latitude.

* latitude vs longitude has negative correlation as here y-axis is increasing while x-axis is decreasing,i.e., both are moving in an opposite direction.

**8. Create a data set for which the ocean_proximity is ‘Near ocean’.**

In [ ]:
new_data= housing.loc[housing['ocean_proximity']=='NEAR OCEAN'] # loc is an label based method which is used to select rows and columns by Names/Labels.
                                                            #loc is an essential pandas methods used for filtering,selecting and manipulating data.
new_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
1850,-124.17,41.80,16,2739,480.0,1259,436,3.7557,109400,NEAR OCEAN
1851,-124.30,41.80,19,2672,552.0,1298,478,1.9797,85800,NEAR OCEAN
1852,-124.23,41.75,11,3159,616.0,1343,479,2.4805,73200,NEAR OCEAN
1853,-124.21,41.77,17,3461,722.0,1947,647,2.5795,68400,NEAR OCEAN
1854,-124.19,41.78,15,3140,714.0,1645,640,1.6654,74600,NEAR OCEAN
...,...,...,...,...,...,...,...,...,...,...
20380,-118.83,34.14,16,1316,194.0,450,173,10.1597,500001,NEAR OCEAN
20381,-118.83,34.14,16,1956,312.0,671,319,6.4001,321800,NEAR OCEAN
20423,-119.00,34.08,17,1822,438.0,578,291,5.4346,428600,NEAR OCEAN
20424,-118.75,34.18,4,16704,2704.0,6187,2207,6.6122,357600,NEAR OCEAN
20425,-118.75,34.17,18,6217,858.0,2703,834,6.8075,325900,NEAR OCEAN

* We have created **new_data** set for which the ocean_proximity is ‘Near ocean’.

**9. Find the mean and median of the median income for the data set created in question 8.**

In [ ]:
new_data['median_income'].mean()  # mean gives average of data.
                                    # mean is applicable for discrete,continous data but not for categorical data.

* **Mean** value for median_income in new data is **4.00578**

In [ ]:
new_data['median_income'].median()  # median gives the 50 percentile of the set of all observation.
                                    # median is not sensitive to outliers.

* **Median** value for median_income in new data is **3.64705**

**10. Please create a new column named total_bedroom_size. If the total bedrooms is 10 or less, it should be quoted as small. If the total bedrooms is 11 or more but less than 1000, it should be medium, otherwise it should be considered large.**

In [ ]:
# Use a lambda function with .map() to create the 'Age_Group' column
housing['total_bedroom_size'] = housing['total_bedrooms'].map(lambda total_bedrooms: 'small' if total_bedrooms <=10 else ('medium' if (total_bedrooms >=11 and total_bedrooms <=1000) else 'large'))

# Display the updated DataFrame
housing

* In the above data set a new column named total_bedroom_size had been added.

* If the total_bedroom_size <=10 it is indicated as "small" If the total_bedroom_size >=11 or <=1000 it is indicated as "medium" If the total_bedroom_size >1000 it is indicated as "large"

**CONCLUSION**: 1.The given dataset reveals the presence of outliers in the "housing_median_age" and "median_house_value" attributes.

2.All the attributes in this dataset are either of float or integer data types, except for "ocean_proximity," which is recorded as an object data type.

3.housing_median_age is of fairly symmetric as the skewness value (-0.5 to -0.1).

4.Plot between median_income vs median_house_values is directly proportional to each other as it has **positive correlation.**

5.Plot between latitude and longitude is inversely proportional to each other as within increase in latitude,there is decrease in longitude.Therefore ,it has a **negative correlation.**



**Thankyou!**